*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: purple;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 200px;
    height: 200px;
    background: yellow;
    clip-path: circle(39.7% at 48% 49%);
}